{% extends 'hivs_dash/base.html' %}
{% load static %}
{% load compress %}

{% block extra_head %}
    {% compress css %}
        <link href="{% static 'hivs_dash/vendor/leaflet/leaflet.css' %}" rel="stylesheet">
    {% endcompress %}
{% endblock extra_head %}

{% block content %}
    {% verbatim %}
        <div id="app">
            <h1 class="display-4 border-bottom text-info"><small>Prevention Interventions</small></h1>

            <div class="row pt-3">
                <div class="col-sm-8">
                    <div class="card">
                        <div class="card-body">
                            
                            <h5 class="card-title text-muted text-center">Prevention Interventions this month</h5>
                            <div class="row">
                                <div class="col-sm-5 text-center">
                                    <p class="display-1 text-info">{{ prevention.thisMonth.count }}</p>
                                    <p class="text-muted">
                                        Last month.
                                        <span class="badge badge-warning">{{ prevention.lastMonth.count }}</span>
                                    </p>

                                    <div v-if="prevention.thisMonth.genderSeries">
                                        <chartjs-bar
                                            :bind="true"
                                            :datalabel="'By gender'"
                                            :labels="prevention.thisMonth.genderSeries.labels"
                                            :data="prevention.thisMonth.genderSeries.data"
                                            :height="250"
                                            :width:="250"
                                        >
                                        </chartjs-bar>
                                    </div>
                                </div>

                                <div class="col-sm-7">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex justify-content-between align-items-center"
                                                v-for="service in prevention.thisMonth.services">
                                            {{ service.services__name }}
                                            <span class="badge badge-primary badge-pill">{{ service.count }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            
                            <h6 class="card-title text-center text-muted">Prevention Interventions this year so far</h6>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <p class="display-1 text-info">{{ prevention.thisYear.count }}</p>
                                    <p><strong>Intervertions</strong></p>
                                    <p class="text-muted">
                                        Last year.
                                        <span class="badge badge-warning">{{ prevention.lastYear.count }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <hr class='my-4 py-4'>

            <h1 class="display-4 border-bottom text-info"><small>Clients Profiles</small></h1>

            <chartjs-line
                :bind="true"
                :height="300"
                :datalabel="'Daily new clients'"
                :labels="dailyAquisition.date"
                :data="dailyAquisition.count"
                :beginzero="true"
                :option="dailyAquisition.options">
            </chartjs-line>

            <div class="row pt-3">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            
                            <h5 class="card-title">New clients profiles this month</h5>
                            <div class="row">
                                <div class="col-sm-6 text-center">
                                    <p class="display-1 text-info">{{ thisMonthAquisition.count }}</p>
                                    <p>Clients</p>
                                </div>

                                <div class="col-sm-6">
                                    <chartjs-bar
                                        :bind="true"
                                        :datalabel="'By gender'"
                                        :labels="thisMonthAquisition.gender.labels"
                                        :data="thisMonthAquisition.gender.data"
                                        :height="250"
                                        :width:="250"
                                    >
                                    </chartjs-bar>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            
                            <h5 class="card-title">New clients profiles last month</h5>
                            <div class="row">
                                <div class="col-sm-6 text-center">
                                    <p class="display-1 text-info">{{ lastMonthAquisition.count }}</p>
                                    <p>Clients</p>
                                </div>

                                <div class="col-sm-6">
                                    <chartjs-bar
                                        :bind="true"
                                        :datalabel="'By gender'"
                                        :labels="lastMonthAquisition.gender.labels"
                                        :data="lastMonthAquisition.gender.data"
                                        :height="250"
                                        :width:="250"
                                    >
                                    </chartjs-bar>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row pt-3">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body px-0">
                            
                            <h5 class="card-title px-4">Total recorded clients profiles: {{ clientsTotal.count }}</h5>

                            <div id="clients-map" style="height: 400px"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    {% endverbatim %}
{% endblock content %}


{% block extra_js %}
{% compress js %}
    <script src="{% static 'hivs_dash/vendor/vue/vue.min.js' %}"></script>
    <script src="{% static 'hivs_dash/vendor/axios/axios.js' %}"></script>
    <script src="{% static 'hivs_dash/vendor/moment/moment.min.js' %}"></script>
    <script src="{% static 'hivs_dash/vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'hivs_dash/vendor/vue-charts/vue-charts.js' %}"></script>
    <script src="{% static 'hivs_dash/vendor/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'hivs_dash/vendor/leaflet-choropleth/choropleth.js' %}"></script>
    <script src="{% static 'hivs_dash/vendor/lodash/lodash.min.js' %}"></script>
    <script src="{% static 'hivs_dash/js/base.js' %}"></script>
    <script src="{% static 'hivs_dash/js/index.js' %}"></script>
{% endcompress %}
{% endblock extra_js %}
