django>=2.1,<2.2
argon2-cffi
psycopg2 --no-binary psycopg2
python-dateutil
python-dotenv
django_compressor
lxml
django-import-export
django-mptt
django-mptt-admin
django-allauth
phonenumbers
django-phonenumber-field
django-postgres-utils
django-crispy-forms
django-admin-rangefilter
django-admin-numeric-filter
django-debug-toolbar

djangorestframework
djangorestframework-gis
djangorestframework-csv
coreapi
markdown
pygments
django-filter

pandas
openpyxl>=2.4,<2.5
