django>=2.0,<2.1
argon2-cffi
psycopg2 --no-binary psycopg2
python-dateutil
python-dotenv
django_compressor
lxml
django-import-export
django-mptt
django-mptt-admin
django-allauth
django-phonenumber-field
django-postgres-utils
django-crispy-forms
django-debug-toolbar

djangorestframework
djangorestframework-gis
markdown
django-filter

pandas
