{% extends 'base.html' %}

{% block body_class %}sidebar-toggled{% endblock %}

{% block body %}
    {% block header %}
        {% include 'includes/top_nav.html' %}
    {% endblock header %}

    <div id="wrapper">

        {% block sidebar %}
            {% if user.is_authenticated %}
                {% include 'includes/sidebar.html' %}
            {% endif %}
        {% endblock %}

        <div id="content-wrapper">
            <div class="container-fluid">
                {% block page_header %}
                    <div class="page-header">
                        {% block page_title %}{% endblock %}
                        {% block breadcrumb %}{% endblock %}
                    </div>
                {% endblock page_header %}

                <div class="content">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
